---
- name: Run a hello world script
  hosts: targets
  become: yes

  tasks:
      - name: Copy the hello script to the target
        copy:
            src: ./hello.sh
            dest: /tmp/hello.sh
            mode: "0755"

      - name: Execute the hello script
        command: /tmp/hello.sh
        register: script_output

      - name: Show the script output
        debug:
            msg: "{{ script_output.stdout_lines }}"
